# Ignore environment variables
.env

# Python compilation files
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
dist/
.vite/

# Uploads and temporary files
uploads/images/
uploads/
backend/uploads/
